<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="glass_box">
  <link
    name="glass_box">
    <inertial>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <mass
        value="0.0" />
      <inertia
        ixx="0.066228"
        ixy="2.0535E-17"
        ixz="-4.041E-18"
        iyy="0.098633"
        iyz="8.63031555219293E-19"
        izz="0.066228" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://glass_box/meshes/glass_box.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.15" />
        <texture
          filename="package://glass_box/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://glass_box/meshes/glass_box.obj" />
      </geometry>
    </collision>
  </link>
</robot>